.r > a,
td > a.pn {
  outline: none;
}

.r > a {
  &:focus {
    &::before {
      position: absolute;
      left: -20px;
      content: '▶';
    }
  }
}

td > a.pn {
  &:focus span:last-child {
    position: relative;
    &::before {
      position: absolute;
      left: -20px;
      content: '▶';
    }
  }
}
