$focusColor: 0px 0px 0px 4px rgba(26, 13, 171, 0.1);
$focusTransform: translate(20px, 0);
$focusTransition: ease-out 0.1s;

[data-gsrks-anchor]:focus {
  outline: none;
  position: relative;
  display: inline-block;
  transform: $focusTransform;
  transition: $focusTransition;
  cite {
    white-space: nowrap;
  }
  &::before {
    position: absolute;
    right: 100%;
    top: 0;
    transform: translate(-4px);
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cpath%20fill%3D%22%233B88C3%22%20d%3D%22M36%2032c0%202.209-1.791%204-4%204H4c-2.209%200-4-1.791-4-4V4c0-2.209%201.791-4%204-4h28c2.209%200%204%201.791%204%204v28z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%2014h9V7l13%2011-13%2011v-7H7z%22%2F%3E%3C%2Fsvg%3E');
    background-size: 16px;
    width: 16px;
    height: 16px;
    content: '';
  }
}
